---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import RoadMap from '../components/RoadMap.jsx';
import {FAQ} from '../components/FAQ.jsx';
import { useState } from 'react';

import logo from '../../public/images/logo.png';
import logo_green from '../../public/images/logo_green.png';
import tokha from '../../public/images/tokha.png';
import toukhtr from '../../public/images/toukhtr.png';
import alabama from '../../public/images/alabama.png';
import karen from '../../public/images/karen.png';
import nad from '../../public/images/nad.png';
import bekzhan from '../../public/images/bekzhan.png';




---

<Layout title="Gefest">
	<main class="w-full m-0 p-0">
		<div class="py-10 px-16 flex justify-between max-w-full items-center">
			<img src={logo.src} alt=""/>
			<div class="flex gap-x-28">
				<a href="#roadmap">
					Карта
				</a>
				<a href="#teachers">
					Преподаватели
				</a>
				<a href="#feedback">
					Отзывы
				</a>
				<a href="#faq">
					FAQ
				</a>
			</div>
			<a href="" class="w-52 h-10 flex justify-center items-center bg-[#82DE0F] text-xl text-black font-medium text-center rounded-lg	">
				Написать нам
			</a>
		</div>
		<div class="flex justify-around items-center px-16 py-16">
			<div class="max-w-xl">
				<h1 class="text-5xl text-left font-semibold">
					Заработай в <span class="text-[#82DE0F]">IT</span> свои первые <span class="text-[#82DE0F] font-bold">500 000 тенге</span> за <span class="text-[#82DE0F] font-bold">3</span> месяца!
				</h1>
				<div class="flex gap-x-5">
					<span>Своя платформа для обучения</span>
					<span>Личный куратор</span>
					<span>Помощь с трудоустройством</span>
				</div>
				<div class="flex justify-center mt-8">
					<a href="" class="py-4 px-8 flex justify-center rounded-[14px] font-bold items-center bg-[#82DE0F] text-xl text-black font-medium text-center rounded-lg	">
						Начать обучение
					</a>
				</div>
			</div>
			<div class="">
				<img src={tokha.src} alt=""/>
			</div>
		</div>
		<!-- <div class="px-16">
			<h1 class="font-bold text-6xl">Этот курс для тебя, если ты</h1>
			<div class="flex">
				<div class="bg-white py-10"> 

				</div>
				<div class="bg-white py-10"> 

				</div>
				<div class="bg-white py-10"> 

				</div>
			</div>
		</div> -->
		<div class="w-full px-16 bg-white py-10" id="roadmap">
			<h1 class="font-bold text-6xl text-black text-4xl font-bold uppercase">Карта обучения</h1>
			<RoadMap client:only="react"/>
		</div>

		<div class="w-full flex px-24 bg-white py-24 justify-center items-center gap-x-3">
			<div class="text-black max-w-3xl">
				<h1 class="font-bold text-6xl text-4xl text-left font-base uppercase text-[#82DE0F]">После обучения</h1>
				<p class="text-3xl">
					После обучения <span class="text-[#82DE0F]">лучших учеников</span> устроим в нашу <span class="text-[#82DE0F]">студию разработки</span>! 
				</p>
				<p class="text-3xl mt-10">
					Также, если ты не сможешь найти работу, <span class="text-[#82DE0F]">МЫ</span> тебе <span class="text-[#82DE0F]">поможем</span>! 
				</p>
				<p class="text-3xl mt-10">Если ты не будешь пропускать занятия, выполнишь все задания - мы <span class="text-[#82DE0F]">Гарантировано</span> найдем тебе <span class="text-[#82DE0F]">работу</span>!</p>
			</div>
			<img src={logo_green.src}/>
		</div>
		
		<div id="teachers" class="w-full px-64 bg-[#282828] py-10">
			<h1 class="font-bold text-6xl">Перенимай опыт у реальных специалистов</h1>
			<div class="mt-28 ml-32">
				<div class="flex gap-24 items-center">
					<div>
						<img src={toukhtr.src} class="mb-6"/>
					</div>
					<div>
						<p class="font-bold">- 5 лет опыта веб-разработки</p>
						<p class="font-bold">- Chocofamily, Bloomberg, Streamflow</p>
						<p class="font-bold">- Призер международных олимпиад по Финтех</p>
						<p class="font-bold">- Основатель аутсорс компании</p>
						<p class="font-bold">- Учусь и живу в Гонконге</p>
					</div>
				</div>
				<span class="text-white font-semibold text-center ml-8">Тохтар Ахметов</span>

				<div class="flex gap-24 mt-24 items-center">
					<div>
						<img src={alabama.src} class="mb-6"/>
					</div>
					<div>
						<p class="font-bold">- Веб-разработчик со стажем 4 года</p>
						<p class="font-bold">- Опыт работы в стартапах и больших компаниях, в том числе зарубежных</p>
						<p class="font-bold">- Преподает более 3 лет (детей и взрослых)</p>
						<p class="font-bold">- Обучил более 500 студентов</p>
						<p class="font-bold">- Oilan, Itstep, Aitu, Gefest, Careerist</p>
					</div>
				</div>
				<span class="text-white font-semibold text-center ml-8">Алиби Алиби</span>
			</div>
			<div class="flex justify-center mt-8">
				<a href="" class="w-64 h-14 flex justify-center rounded-3xl font-bold items-center bg-[#82DE0F] text-xl text-black font-medium text-center rounded-lg	">
					Записаться на курс
				</a>
			</div>
		</div>

		<div id="feedback" class="w-full px-64 bg-[#282828] py-10">
			<h1 class="font-bold text-6xl">Отзывы от наших студентов</h1>
			<div class="flex justify-center wrap gap-24">
				<div class="max-w-xs">
					<img src={karen.src}/>
					<p class="text-center uppercase">Карен</p>
					<p class="text-center mt-4">“Совмещать не сложно - график удобный!”</p>
					<a href="https://youtu.be/ULvkgfnLrYU" target="_blank" class="w-full flex justify-center text-center text-[#6a89ff] mt-4">
						<span>Отзыв</span>
					</a>
				</div>
				<div class="max-w-xs">
					<img src={nad.src}/>
					<p class="text-center uppercase">Надежда</p>
					<p class="text-center mt-4">“Университет, конечно, дает знания, но 
						навыки приходится все равно самому улучшать!”</p>
					<a href="https://youtu.be/nIaB4kvVsD0" target="_blank" class="w-full flex justify-center text-center text-[#6a89ff] mt-4">
						<span>Отзыв</span>
					</a>
				</div>
				<div class="max-w-xs">
					<img src={bekzhan.src}/>
					<p class="text-center uppercase">Бекжан</p>
					<p class="text-center mt-4">“За свою работу на 
						курсе я выиграл
						денежный приз”
					</p>
					<a href="https://youtu.be/Jmhodb77Nts" target="_blank" class="w-full flex justify-center text-center text-[#6a89ff] mt-4">
						<span>Отзыв</span>
					</a>
				</div>
			</div>
			<div class="flex justify-center gap-12 mt-8">
				<a href="" class="flex justify-center rounded-3xl px-16 py-4 font-bold items-center bg-[#82DE0F] text-xl text-black font-medium text-center rounded-lg	">
					Записаться на курс
				</a>
				<a href="#roadmap" class="flex justify-center rounded-3xl px-16 py-4 font-bold items-center text-white border-2 bg-none text-xl text-black font-medium text-center rounded-lg	">
					Смотреть программу
				</a>
			</div>
		</div>
		<FAQ client:only="react"/>
	</main>
</Layout>

<style>
	body{
		background: #282828 !important;

	}
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
